$title: #353535; //文字色，重点主文字
$normal: #666; //文字色，常规主文字
$sub: #999; //文字色，辅助、说明文字、disable、提示文字等
$lineColor: #DCDCDC; //边框、线色
$cardBg: #fff7ed; // 卡片背景色

$success: #8bc34a; //成功颜色
$warn: #ff9802; //预警色
$danger: #f94949; //告警色
$outLine: #979799; //离线色

// 功能色-渐变色
$blueL: #605bff;
$blueR: #e3e3ff;
$dangerL: #fd6161;
$dangerR: #ffebeb;
$warnL: #ffa467;
$warnR: #fff5ed;
$successL: #09bdae;
$successR: #e6fffd;

// 底部安全距离
$safe-bottom: env(safe-area-inset-bottom);
$safe-top: env(safe-area-inset-top);
